@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
}

html {
  background-color: #f8f8f8;
  height: 100%;
}

body {
  min-height: 100%;
  margin: auto;
  max-width: 1440px;
  background-color: #f3efef;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}


@layer components {
  .my-error {
    color: #ac1f1f;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .my-button {
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}